@model Online_Shop.Models.ChangePassModel

@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h5>ĐỔI MẬT KHẨU</h5>


@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu cũ</label>
        <div class="col-5">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @id = "password" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">Mật khẩu mới</label>
        <div class="col-5">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @id = "newPassword" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Xác nhận lại mật khẩu</label>
        <div class="col-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "confirmPassword" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <button class="btn btn-danger fw-bold" type="submit">Đặt lại mật khẩu</button>
}