@model List<Online_Shop.Models.CartViewModel>

<div class="cart">
    <p>
        <span>Giỏ hàng:</span>
        <div id="dd" class="wrapper-dropdown-2">
            @Model.Count() sản phẩm - Tổng: @Model.Sum(item => item.TotalPrice)
            <ul class="dropdown">
                @if (Model.Count == 0)
                {
                    <li>Bạn chưa có sản phẩm nào trong giỏ hàng</li>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <li>
                            @item.ProductName - @item.Quantity x @item.ProductPrice = @item.TotalPrice
                        </li>
                    }
                }
            </ul>
        </div>
    </p>
</div>
